/* common css */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.common-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #E8BA2E;
    color: black;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
.common-btn:hover{
    background-color: rgb(115, 28, 196);
}

nav, section{
    max-width: 1200px;
    margin: auto;
}

/* nav section css */
.nav-main-contaainer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 15px 30px;
}
.nav-main-contaainer img{
    max-width: 80px;
    width: 100%;
}
nav ul{
    display: flex;
    gap: 25px;
    margin-left: 15%;
    color: rgba(0, 0, 0, 0.8);
    list-style: none;
    font-size: 14px;
}

nav a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
}
nav a:hover{
    color: blueviolet;
}

/* hero section css */
.hero-container{
    background-image: url("./image/Background.png");
    height: 670px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
}
.hero-child{
    margin-left: 40px;
    width: 30%;
}
.hero-child h1{
    font-size: 70px;
    font-weight: 700;
    color: white;
}
.hero-child p{
    color: white;
    margin-top: 15px;
}
.hero-child button{
    margin-top: 55px;
}

/* ticket section css */

.ticket-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: #F4C430;
    padding: 25px 40px;
    border-radius: 10px;
}

.ticket-container div p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}
.ticket-container div h2{
    color: rgb(0, 0, 0,);
    font-size: 38px;
    margin-top: 15px;
}
